<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Smart Auth</title>

    <meta name="description" content="Verticals">
    <meta name="author" content="Oberdan Brito">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../../smart/lib/dhtmlx/skins/material/dhtmlx.css">
    <script src="../../smart/lib/dhtmlx/codebase/dhtmlx.js" type="text/javascript"></script>

    <script src="../../smart/lib/jquery/jquery-3.4.1.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
</body>
</html>